body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.buttons
{
font-size: 18px;
width: 20%;
}

canvas{
    box-shadow: 10px 10px 10px red;
    border-radius: 10px;
}

.buttonlooks{
    text-align: center;
}

#status
{
font-size: 18px;
}