body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.buttons
{
font-size: 18px;
width: 20%;
}

canvas{
    box-shadow: 10px 10px 10px rgb(11, 157, 69);
    border-radius: 10px;
}

.buttonlooks{
    text-align: center;
}

#homebtn{
    background-color: black;
}

#status #num_objects
{
font-size: 18px;
color: rgb(0, 255, 170);
}